.search-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

/* Native Input Styling */
.search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 1rem;
}

/* Button Styling */
.search-bar button {
    background: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.search-bar button:hover {
    background: #1c638d;
}

/* Material-UI Select Styling */
.search-bar .MuiFormControl-root {
    min-width: 12rem;
}

.search-bar .MuiOutlinedInput-root {
    border-radius: 5px;
    font-size: 1rem;
}

.search-bar .MuiSelect-select {
    padding: 10px;
}
.datePicker{
    width: 12rem;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    top: -26%;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root {
    top: -12%;
}